doctype html
html(class="no-js", lang="ru")


    include components/head/head.jade


    head
        +head
    body.page
        div#root
    
        script(src="js/react/react.js")
        script(src="js/react/react-dom.min.js")
        script(src="js/app.js")
        